body{
    background-color: #EEC5AA!important;
}



#image{
    width: 100%;
    height: 1000px;
    background-image: url("https://images-ext-2.discordapp.net/external/onyk18Xn4SVfOwfHRNo2036rd8LesB0x1e-1SL392h4/%3Fq%3D90%26p%3D2400%257C1350%257Cmax%26s%3Dd0b66f564422dd0d2d51bc78ee7c7dbd/https/images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg");
}

h1{
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 350px !important;
    font-size: 10em!important;
    font-family: 'Poppins', sans-serif;
    color: #e37d7d;
}
h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 6em!important;
    
}

.text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color: white!important;

    
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }